site_name: 自動運転 AI チャレンジ 2025
site_url: https://automotiveaichallenge.github.io/aichallenge-documentation-2025/
repo_url: https://github.com/AutomotiveAIChallenge/aichallenge-documentation-2025
docs_dir: docs
copyright: "&copy; 2025 TIER IV, Inc."
use_directory_urls: false

theme:
  name: material
  custom_dir: overrides
  favicon: assets/favicon.ico
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - announce.dismiss
  palette:
    scheme: slate
    primary: custom
    accent: green
    # logo:

nav:
  - index: index.md

extra_css:
  - stylesheets/custom.css

markdown_extensions:
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - search:
  - i18n:
      docs_structure: suffix
      languages:
        - locale: ja
          default: true
          name: 日本語
          build: true
          nav_translations:
            index: 競技概要